.home-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.header {
  background-color: black;
  color: white;
  flex-basis: 100%;
  margin-bottom: 20px;
  height: 200px;
  padding: 10px;
}

.header-title,
.header-description {
  text-align: center;
}

/* FOR POTENTIAL SLIDE IMPLEMENTATION */

/* section {
  min-width: 0px;
} */