.carousel-container {
    padding: 10px;
    margin-top: 10px;
}

.carousel {
    display: flex;
    flex-direction: row;
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.carousel-items-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.carousel-item,
.carousel-arrow {
    text-align: center;
}

.carousel-item {
    width: 33%;
    padding-right: 205px;
    margin-top: 30px;
}

.carousel-item:first-child {
    margin-left: 100px;
}

.carousel-item-name {
    margin-top: 30px;
}

.carousel-item-description {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.carousel-pagination {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

/* For touch devices that have screen widths up to 767px; */
@media screen and (min-width: 320px) {
    .carousel-item-name {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 10px;
    }
    .carousel-item {
        padding-right: 40px;
        margin-top: 0px;
    }

    .carousel-item:first-child {
        margin-left: 30px;
    }
}

@media screen and (min-width: 360px) {
    .carousel-item-name {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }
    .carousel-item {
        padding-right: 45px;
        margin-top: 0px;
    }

    .carousel-item:first-child {
        margin-left: 40px;
    }
}

@media screen and (min-width: 414px) {
    .carousel-item-name {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 16px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }
    .carousel-item {
        padding-right: 70px;
        margin-top: 0px;
    }

    .carousel-item:first-child {
        margin-left: 40px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-item-name {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 20px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }
    
    .carousel-item {
        padding-right: 90px;
        margin-top: 0px;
    }

    .carousel-item:first-child {
        margin-left: 60px;
    }

    .carousel-pagination {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .carousel-item-name {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 20px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }
    .carousel-item {
        padding-right: 105px;
        margin-top: 0px;
    }

    .carousel-item:first-child {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .carousel-item-name {
        margin-top: 30px;
        padding-right: 0px;
        font-size: 20px;
    }
    .carousel-item-description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
    }
    .carousel-item {
        padding-right: 215px;
        margin-top: 30px;
    }

    .carousel-item:first-child {
        margin-left: 115px;
    }
}

@media screen and (min-width: 1366px) {
    .carousel-item {
        width: 33%;
        padding-right: 200px;
        margin-top: 30px;
    }

    .carousel-item-name {
        margin-top: 30px;
    }

    .carousel-item:first-child {
        margin-left: 105px;
    }

    .carousel-pagination {
        margin-top: 30px;
    }
}